html, body {
  margin: 0;
  padding: 0;
  background-color: #0b0d17;
  color: #f1f1f1;
  font-family: 'Space Grotesk', sans-serif;
  overflow-y: auto;
}
h1 {
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
  color: #d6b85a;
}
